
@{
    ViewData["Title"] = "Document Extraction";
}

<div id="root">123</div>

<link rel="stylesheet" href="~/client-app/assets/index-C6G_3qQV.css" />
<script type="module" src="~/client-app/assets/index-BJ936mn3.js"></script>
